extends layout

block content

  ul.nav.nav-pills
    li 
        a(href="/demo") Home
    li 
        a(href="/demo/dataviews") Data Views
    li.active 
        a(href="/demo/dataviews/formview") Form View


  div( ng-controller="NWFormViewCtrl" ).nw-frame
    nwformviewrefresbtn
    nwformview( serviceurl="/demo/dataviews/formview" )

     
  
  
        
  
