extends layout

block content

  ul.nav.nav-pills
    li 
        a(href="/demo") Home
    li.active 
        a(href="/demo/login") Login
        
  
        
  nwloginform( serviceurl="/login" )
    
    
    
